html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #0101f5;
  background: -webkit-linear-gradient(to right, #13b8ad, #4170c8, #09090b);
  background: linear-gradient(to right, #13b8ad, #4170c8, #09090b);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

svg {
  transition: transform 1s ease-in-out;
}

svg:hover {
  transform: rotateY(360deg) scale(1.6);
}